body{
    background-color: #0b2e13;
    margin: 0px;
    padding:0px;

}






#image_size{
    width: 10%;
    height: 10%;
}


ul {
    float: right;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container{
    border:1px solid black;
    width:5px;
    padding:3px;
}


.ding{

}
.doos{
    border: solid 3px black;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 20px;
    font-size: 20px;
}
.box {
text-align: center;
    border: 1px solid black;
}

.doosform{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;


}