/**{
    height: 150px;
    width: 200px;
    background-color: red; !* For browsers that do not support gradients *!
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);x
}*/


.doos{
    border: solid 3px black;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 20px;
    font-size: 20px;
}


#image_size{
    width: 10%;
}


ul {
    float: right;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container{
    border:1px solid black;
    width:5px;
    padding:3px;
}


.ding{

}